Validation_xml/Students.dtd

<!ELEMENT students (student*)>
<!ELEMENT student (CNE,LastName,FirstName,DateofBirth,ClasseName,Phone?,Email?)>
<!ELEMENT CNE (#PCDATA)>
<!ELEMENT LastName (#PCDATA)>
<!ELEMENT FirstName (#PCDATA)>
<!ELEMENT DateofBirth (#PCDATA)>
<!ELEMENT ClasseName (#PCDATA)>
<!ELEMENT Phone (#PCDATA)>
<!ELEMENT Email (#PCDATA)>